// FONTS
$font-primary: 'Arial', sans-serif;
$font-secondary: 'Roboto', sans-serif;

// SIZES
$container-width: 1170px;

// MEDIA QUERY
$screen-lg: 'only screen and (min-width:1170px)';
$screen-md: 'only screen and (min-width:992px)';
$screen-sm: 'only screen and (min-width:768px)';
$screen-sm-max: 'only screen and (max-width:767px)';
$screen-xs: 'only screen and (min-width:480px)';
$screen-xs-max: 'only screen and (max-width:480px)';